global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    option tcplog

frontend k8s_api_frontend
    bind 0.0.0.0:6443
    default_backend k8s_api_backend

backend k8s_api_backend
    balance roundrobin
    option tcp-check
    default-server inter 3s fall 3 rise 2
    server control1 10.0.1.65:6443 check
    server control2 10.0.1.166:6443 check
    server control3 10.0.1.97:6443 check

frontend grafana_frontend
    bind 0.0.0.0:3000
    mode http
    default_backend grafana_backend

backend grafana_backend
    mode http
    balance roundrobin
    server control1 10.0.1.65:32715 check
    server control2 10.0.1.166:32715 check
    server control3 10.0.1.97:32715 check