global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    mode tcp
    timeout connect 10s
    timeout client  1m
    timeout server  1m
    option tcplog

# =====================================================
# Kubernetes API Server
# =====================================================

frontend k8s_api_frontend
    bind 0.0.0.0:6443
    default_backend k8s_api_backend

backend k8s_api_backend
    balance roundrobin
    option tcp-check
    default-server inter 3s fall 3 rise 2
    server control1 10.0.1.65:6443 check
    server control2 10.0.1.166:6443 check
    server control3 10.0.1.97:6443 check
    
# =====================================================
# NGINX Ingress HTTP
# =====================================================

frontend nginx_ingress_http_frontend
    bind *:80
    mode http
    option httplog
    default_backend nginx_ingress_http_backend

backend nginx_ingress_http_backend
    mode http
    balance roundrobin

    server cp1 10.0.1.65:30253 check
    server cp2 10.0.1.166:30253 check
    server cp3 10.0.1.97:30253 check


# =====================================================
# NGINX Ingress HTTPS
# =====================================================

frontend nginx_ingress_https_frontend
    bind *:443
    mode tcp
    option tcplog
    default_backend nginx_ingress_https_backend

backend nginx_ingress_https_backend
    mode tcp
    balance roundrobin

    server cp1 10.0.1.65:31917 check
    server cp2 10.0.1.166:31917 check
    server cp3 10.0.1.97:31917 check